.App {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 330px;
  max-width: 100%;
}

.small-input-field {
  width: 50px;
}

.checkbox-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 330px;
  max-width: 100%;
}

input {
  margin: 10px;
}
