body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  margin: 10px;
}
